OWNER_NAME="Queen Venom"
PREFIX="@"
PUBLIC_MODE='non'
AUTO_READ_STATUS="yes"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "LUCKY_MD"
IMAGE_MENU= "https://i.imgur.com/ecRS5BQ.jpeg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Venom Queen᚜"
DATABASE_URL= ""
WARN_COUNT= "2"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
